# Porta da aplicação backend
APP_PORT=3001

# Chave secreta para assinatura dos tokens JWT
JWT_SECRET=jwt_secret

# Configuração do banco de dados (sqlite para desenvolvimento rápido / Render.com, mysql para Docker)
DATABASE_PROVIDER=sqlite
DATABASE_URL="file:./dev.db"

# Caso utilize MySQL localmente sem Docker:
# DATABASE_PROVIDER=mysql
# DATABASE_URL="mysql://root:123456@localhost:3002/FUTEBOL_CLUBE_DB"
# DB_USER=root
# DB_PASS=123456
# DB_HOST=localhost
# DB_PORT=3002
# DB_NAME=FUTEBOL_CLUBE_DB
